---

resources: "resources.yaml"
samples: "samples.tsv"
units: "units.tsv"

default_container: "docker://hydragenetics/common:3.0.0"

automap:
  container: "docker://hydragenetics/automap:1.2"
  build: "hg38"
  extra: "--DP 10 --minsize 3 --chrX"

cnvkit_export_seg:
  extra: "--enumerate-chroms"

cnvpytor_readdepth:
  container: "docker://hydragenetics/cnvpytor:1.2.1"
  length_list: ""

cnvpytor_filter:
  container: "docker://hydragenetics/cnvpytor:1.2.1"
  calling_model: "rd_mean_shift"
  dG_range: ""
  p_range: ""
  pN_range: ""
  Q0_range: ""
  view: ""

expansionhunter:
    container: "docker://hydragenetics/expansionhunter:5.0.0"

exomedepth:
  bedfile: ""
  conifer: ""
  container: ""
  ED_common: ""
  reference_count: ""
  WW25: ""

jumble_cnvkit_call:
  container: "docker://hydragenetics/cnvkit:0.9.9"

jumble_run:
  container: "docker://hydragenetics/jumble:240530"
  normal_reference: ""

manta_config_n:
  container: "docker://hydragenetics/manta:1.6.0"
  extra: ""

manta_run_workflow_n:
  container: "docker://hydragenetics/manta:1.6.0"

melt:
  container: "docker://vanallenlab/melt:3159ce1"
  bed: "" # In singularity /MELT/MELTv2.0.5_patch/add_bed_files/Hg38/Hg38.genes.bed
  extra: ""
  mei: "" # Make txt-file with list to /MELT/MELTv2.0.5_patch/me_refs/Hg38/*zip

pindel_update_vcf:
  container: "docker://hydragenetics/picard:2.25.4"

scanitd:
  container: "docker://hydragenetics/scanitd:0.9.2"

savana_ont_tn:
    container: "docker://hydragenetics/savana:1.3.5"
    extra: ""

savana_ont_to:
    container: "docker://hydragenetics/savana:1.3.5"
    genome_version: "1000g_hg38"
    extra: ""

savana_pb_tn:
    container: "docker://hydragenetics/savana:1.3.5"
    min_support: 10
    extra: ""

savana_pb_to:
    container: "docker://hydragenetics/savana:1.3.5"
    min_support: 10
    genome_version: "1000g_hg38"
    extra: ""

scramble_cluster_analysis:
  container: "docker://hydragenetics/scramble:1.0.2"
  extra: ""
  install_dir: "/opt/scramble/cluster_analysis/bin"
  mei_refs: "/opt/scramble/cluster_analysis/resources/MEI_consensus_seqs.fa"
  ref: ""  # Path to reference genome fasta file for additional VCF output

scramble_cluster_identifier:
  container: "docker://hydragenetics/scramble:1.0.2"
  extra: ""

severus_t_only:
  container: "docker://hydragenetics/severus:1.5"
  vntr: ""
  pon: ""
  extra: ""

severus_tn:
  container: "docker://hydragenetics/severus:1.5"
  vntr: ""
  extra: " --vaf-thr 0.05 --TIN-ratio 0.0 --max-genomic-len 100000"

smn_caller:
  container: "docker://hydragenetics/smncopynumbercaller:1.1.2"
  genome_version: ""

smn_charts:
  container: "docker://hydragenetics/smncopynumbercaller:1.1.2"

tiddit:
  container: "docker://hydragenetics/tiddit:3.3.2"

upd:
  container: "docker://hydragenetics/upd:0.1.1"
  extra: "--vep "

hificnv:
  container: "docker://hydragenetics/hificnv:1.0.1"
  exclude: ""

pbsv_discover:
  container: "docker://hydragenetics/pbsv:2.9.0"
  extra: ""
  trf: ""

pbsv_call:
  container: "docker://hydragenetics/pbsv:2.9.0"
  extra: ""
  reference: ""